<div >
    <ul>
        <li ng-repeat="grupo in grupos">
            {{grupo.cupo + "\n"+
              grupo.dia + "\n"+
              grupo.horaFinal + "\n"+ 
              grupo.horaInicial + "\n"+
              grupo.idGrupo + "\n"+
              grupo.curso.idCurso + "\n"+ 
              grupo.curso.nombreCurso + "\n"+
              grupo.profesor.idProfesor + "\n"+ 
              grupo.profesor.cantidadCursos + "\n"+
              grupo.profesor.usuario.idUsuario + "\n"+ 
              grupo.profesor.usuario.apellidoUsuario + "\n"+
              grupo.profesor.usuario.email + "\n"+
              grupo.profesor.usuario.genero + "\n"+
              grupo.profesor.usuario.nombreUsuario + "\n"+
              grupo.profesor.usuario.numeroId + "\n"+
              grupo.profesor.usuario.pass + "\n"+
              grupo.profesor.usuario.rol.idRol + "\n"+
              grupo.profesor.usuario.rol.nombreRol + "\n"+
              grupo.profesor.usuario.tipoId.idTipoId + "\n"+
              grupo.profesor.usuario.tipoId.nombreTipoId + "\n"
           
            }}
        </li>
    </ul>
    
</div>
