<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" >Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" ng-click="obtenerEstu()">Información personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab"ng-click=""></a>
  </li>
   <li class="nav-item">
    <a class="nav-link " data-toggle="tab"ng-click=""></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content"ui-view="profeV">
  
</div>
   
     



