<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="container">
 <!-- <button type="button" class="btn btn-outline-danger" ng-click="crearP()">Crear</button>-->
</div> 
<div class="table-responsive">
<table class="table-warning font-s">
        <thead>
            <tr>
            <th scope="col" class="font-s">Nombre Profesor</th>
            <th scope="col" class="font-s">Apellido Profesor</th>
            <th scope="col" class="font-s">Tipo de Identificación</th>
            <th scope="col" class="font-s">Numero de identificación</th>
            <th scope="col" class="font-s">Genero</th>
            <th scope="col" class="font-s">Correo Electronico</th>
            <th scope="col" class="font-s">Contraseña</th>
            <th scope="col" class="font-s">Cantidad de Cursos</th>
            <th scope="col" class="font-s" >Área</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" ng-repeat="pe in profes">
                <td class="font-s">{{pe.usuario.nombreUsuario}}</td>
                <td class="font-s">{{pe.usuario.apellidoUsuario}}</td>
                <td class="font-s">{{pe.usuario.tipoId.nombreTipoId}}</td>
                <td class="font-s">{{pe.usuario.numeroId}}</td>
                <td class="font-s">{{pe.usuario.genero}}</td>
                <td class="font-s">{{pe.usuario.email}}</td>
                <td class="font-s">{{pe.usuario.pass}}</td>
                <td class="font-s">{{pe.cantidadMaterias}}</td>
                <td class="font-s">{{pe.area.nombreArea}}</td>
                
                <td>
                    <!--<button class="btn btn-danger" ng-click="eliminarP(p)">Eliminar</button>-->
                    <button class="btn btn-success" ui-sref="crearIProfesor({id:pe.idProfesor})">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
        </div>
</div>
</div>


